<div class="page page-core page-login" login-propio custom="customData">    
    <div class="container w-420 p-15 bg-white mt-20">
<div class="text-center h-100"><h3 class="text-light">Ingreso a la Historia Clínica </h3>
    <form name="formulario" ng-model="form" class="form-validation mt-40 ng-pristine ng-valid" novalidate="">
        <h5 class="text-strong text-left pl-10 ">Usuario</h5> 
        <div class="form-group ">
            <input type="text" name="usuario" class="form-control underline-input ng-pristine ng-untouched"  ng-model="form.usuario" required="" placeholder="Usuario"/>
            <span class="help-block alert alert-lightred" ng-show="formulario.usuario.$dirty && formulario.password.$dirty && formulario.usuario.$invalid">Falta el usuario</span>
        </div>
        <h5 class="text-strong text-left pl-10">Clave</h5>
        <div class="form-group">

            <input type="password" placeholder="Password" name="password" class="form-control underline-input ng-pristine ng-untouched" ng-model="form.password" required=""/>
        </div>
        <span class="help-block alert alert-lightred" ng-show="formulario.password.$dirty && formulario.usuario.$dirty && formulario.password.$invalid">Falta el password</span>
        <div class="lt wrap-reset form-group text-right mt-40 custom-login ">
        <button type="submit" class="btn btn-primary dker b-0 br-2 mr-5" ng-click="login()" ng-disabled="formulario.$invalid" click-disabler="isRequesting">Login</button>
        <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
        </label>
    </div>
    </form>    
</div>
    </div>
</div>