<section id="header" class="scheme-default h-5 d-flex align-center backg-zepPrincipal"  nav-propio custom="dominio">
    <header class="clearfix w-100perc d-flex align-center backg-zepPrincipal">
        <!-- Branding -->        
        <div class="branding col-lg-2 h-100 backg-zepPrincipal">            
            <a href=""  class="hidden-xs pl-10-porc" offcanvas-sidebar><img class="w-auto h-37px" src="images/headerZEP.png"></a>
            <a href="javascript:;"  class="offcanvas-toggle visible-xs-inline brand" offcanvas-sidebar><i class="fa fa-bars"></i></a>
        </div>
        <!-- Right-side navigation -->
        <ul class="nav-right pull-right list-inline pr-0 col-lg-10 text-right  w-100perc ">

            <li class="dropdown nav-profile backg-zepPrincipal" uib-dropdown>

                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="images/default-avatar.png" alt="" class="img-circle size-30x30"/>
                    <span>Brian Ihlo Mazzocchi<fa name="angle-down"></fa></span>
                </a>

                <ul class="dropdown-menu pull-right animated littleFadeInRight" role="menu">                                        
                    <li auth-type type="loginType">
                        <a href="" ng-click="cambiarPassword()">
                            <fa name="key"></fa>Cambiar Contraseña
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.locked">
                            <fa name="lock"></fa>Bloquear Sesión
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()">
                            <fa name="sign-out"></fa>Salir
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

</section>    

