<section id="header" class="scheme-default h-5 d-flex align-center backg-zepPrincipal"  nav-propio custom="dominio">
    <header class="clearfix w-100perc d-flex align-center backg-zepPrincipal">
        <!-- Right-side navigation -->
        <ul class="nav-right pull-right list-inline pr-0 col-lg-10 text-right  w-100perc ">
            <li class="dropdown nav-profile backg-zepPrincipal" uib-dropdown>
                <a href class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="images/random-avatar1.jpg" alt="" class="img-circle size-30x30"/>
                    <span>User Test<fa name="angle-down"></fa></span>
                </a>
            </li>
        </ul>
    </header>

</section>    

