<div class="page bckg-white-full col-xs-12 col-sm-12 col-md-12 col-lg-12 h-100">
    <div class="tile-header dvd dvd-btm h-5"> 
        <h3 class="custom-font"><strong>Meetings</strong></h3>
    </div>  
    <div class="tile-body h-95">
        <table class="table table-custom b-b b-0 col-md-12" >
            <thead class="">
                <tr class="">
                    <th class="col-md-4">Nombre Vacuna</th>
                    <th class="col-md-1-5">Fecha</th>
                    <th class="col-md-2">Estado</th>
                    <th class="col-md-3">Profesional</th>
                </tr>       
            </thead>
            <tbody>
                <tr >
                    <td>
                        <span class="pl-10 text-bold text-capitalize"></span>
                    </td>
                    <td>
                        <span class="pl-10 text-capitalize">Sin especificar</span>
                    </td>
                    <td>
                        <span class="pl-10">Administrada</span>
                    </td>
                    <td>
                        <span class="pl-10">aaaa</span>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>